.jumbotron{
  background-image: url(../img/jumbotron2.jpg);
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.jumbotron h1{
  max-width: 40%;
  font-size: 50px;
}

.question{
  padding: 20px 0;
  max-width: 50%;
}

#css, #ruby, #csharp, #no-track{
  display: none;
}
