body{
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

h2, h3 {
  padding-bottom: 10px;
}

.jumbotron{
  background-image: url(../img/jumbotron2.jpg);
  opacity: 0.8;
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.jumbotron h1{
  max-width: 40%;
  font-size: 50px;
}

.question{
  padding: 20px 0;
  max-width: 95%;
}

.error-message{
  display: none;
}

.error-class{
  color: red;
  font-weight: bolder;
}

#result{
  padding: 50px 0 0 30px;
  text-align: center;
}

#result h4{
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  font-weight: bolder;
}

#result p{
  font-size: 70px;
}

#css, #ruby, #csharp, #php, #no-track{
  display: none;
}

/***Buttons***/
.epicodus-button{
  background-color: #00b3b4;
  color: white;
  text-decoration: none;
}

/***Footer***/
footer img {
  padding: 50px 40px 0 0;
}
